.advertising {
    padding: 72px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &--bg1 {
            color: Black;

            @media (min-width: 1200px) {
                background-image: url('../images/advertising/1-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/advertising/1-2x.jpg');
                }

                width: 630px;
                height: 300px;
            }
        }

        &--bg2 {
            color: Black;

            @media (min-width: 1200px) {
                background-image: url('../images/advertising/2-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/advertising/2-2x.jpg');
                }
            }

            width: 300px;
            height: 300px;
        }

        &--bg3 {
            color: Black;

            @media (min-width: 1200px) {
                background-image: url('../images/advertising/3-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/advertising/3-2x.jpg');
                }
            }

            width: 300px;
            height: 300px;
        }
    }

    &__content {
        padding: 76px 32px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    &__subtitle {
        display: block;
    }

    &__link {
        font-weight: 700;
        line-height: 100%;
        position: relative;
        border-radius: 3px;
        transition: color 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            color: $green;

            &::before {
                background-color: $green;
            }
        }

        &:focus {
            outline: 3px solid $green;
        }


        &:active {
            opacity: .80;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #505050;
            position: absolute;
            bottom: -6px;
            transition: background-color 0.5s;
        }

        &--line {
            &:hover {
                color: #E0EDCF;

                &::before {
                    background-color: #E0EDCF;
                }
            }

            &:focus {
                outline: 3px solid #E0EDCF;
            }

            &::before {
                background-color: #fff;
            }
        }

    }
}