.hero {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    &__container {
        width: 100%;
    }

    &__content {
        width: 100%;
        padding: 24px 24px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    &__title {
        width: 100%;
        font-family: "Ruda", sans-serif;
        font-weight: 900;
        font-size: 60px;
        line-height: 130%;
        text-transform: uppercase;
        color: #505050;
        margin-bottom: 12px;
    }

    &__subtitle {
        display: block;
        color: #cf3e3b;
    }

    &__text {
        font-size: 16px;
        line-height: 140%;
        color: #505050;
        margin-bottom: 32px;
    }

    &__link {
        display: block;
        max-width: 131px;
        width: 100%;
    }

    &__swiper-slide {
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 142px 0;

        &--slide1 {
            @media (min-width: 1200px) {
                background-image: url('../images/hero/1-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/hero/1-2x.jpg');
                }
            }
        }

        &--slide2 {
            @media (min-width: 1200px) {
                background-image: url('../images/hero/2-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/hero/2-2x.jpg');
                }
            }
        }

        &--slide3 {
            @media (min-width: 1200px) {
                background-image: url('../images/hero/3-1x.jpg');

                @media (min-device-pixel-ratio: 2),
                (-wibkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url('../images/hero/3-2x.jpg');
                }
            }
        }
    }

    &__swiper-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        color: #505050;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        transition: color 0.5s, background-color 0.5s, outline 0.5s;

        &:hover {
            color: $green;
            background-color: #e0edcf;
        }

        &:focus {
            outline: 3px solid #97B86B;
        }

        &:active {
            color: $green;
            background-color: #f3f3f2;
        }

        &--prev {
            left: 60px;

            &:disabled {
                pointer-events: none;
                color: #c1c1c1;
            }
        }

        &--next {
            right: 60px;

            .hero__swiper-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__swiper-icon {
        fill: currentColor;
    }
}
