.top-product {
    padding: 72px 0;
    text-align: center;

    &__link {
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        border: 1px solid $green;
        border-radius: 6px;
        color: $green;
        padding: 12px 24px;
        transition: background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: #EFF6E7;
        }

        &:focus {
            outline: 3px solid #B1D286;
        }

        &:active {
            box-shadow: inset 0 10px 4px 0 rgba(0, 0, 0, 0.1);
        }
    }
}