.advertising-card {
    padding: 76px 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 300px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #505050;

    @media(max-width:992px) {
        max-width: 345px;
    }

    &--big {
        max-width: 630px;
        width: 100%;
        height: 100%;

        @media(max-width:992px) {
            max-width: 345px;
            height: 300px;
        }
    }

    &--light {
        color: #fff;

        .advertising-card__link {
            color: #fff;

            &:hover {
                color: #E0EDCF;

                &::before {
                    background-color: #E0EDCF;
                }
            }

            &:focus {
                outline: 3px solid #E0EDCF;
            }

            &::before {
                background-color: #fff;
            }
        }
    }

    &--first {
        background-image: url('../images/advertising/1-1x.jpg');
        @media (max-width: 992px) {

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/1-2x.jpg');
            }
        }
        @media (max-width: 768px) {
            background-image: url('../images/advertising/1-1x-mob.jpg');

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/1-2x-mob.jpg');
            }
        }
    }

    &--second {
        background-image: url('../images/advertising/2-1x.jpg');
        @media (max-width: 992px) {

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/2-2x.jpg');
            }
        }

        @media (max-width: 768px) {
            background-image: url('../images/advertising/2-1x-mob.jpg');

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/2-2x-mob.jpg');
            }
        }
    }

    &--third {
        background-image: url('../images/advertising/3-1x.jpg');
        @media (max-width:992px) {

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/3-2x.jpg');
            }
        }
        @media (max-width: 768px) {
            background-image: url('../images/advertising/3-1x-mob.jpg');

            @media (min-device-pixel-ratio: 2),
            (-wibkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/advertising/3-2x-mob.jpg');
            }
        }
    }

    &__text {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;

        @media(max-width:768px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        display: block;
    }

    &__link {
        font-weight: 700;
        line-height: 100%;
        position: relative;
        border-radius: 3px;
        transition: color 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            color: $green;

            &::before {
                background-color: $green;
            }
        }

        &:focus {
            outline: 3px solid $green;
        }

        &:active {
            opacity: .80;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #505050;
            position: absolute;
            bottom: -6px;
            transition: background-color 0.5s;
        }
    }
}