.available {

    &__item {
        font-size: 10px;
        font-weight: 600;
        line-height: 100%;

        &--green {
            color: $green;
        }

        &--red {
            color: #cf3e3b;
        }

        &--grey {
            color: #c1c1c1;
        }
    }
}