.counter-form {
    display: flex;
    
    &__box {
        display: flex;
    }

    &__label {
        display: block;
        margin-right: 12px;
    }

    &__input {
        text-align: center;
        width: 36px;
        height: 24px;
        font-size: 16px;
        line-height: 1.0;
        background-color: #EFF6E7;
        color: #505050;
        transition: outline 0.5s;

        &--big{
            font-size: 20px;
            width: 77px;
            height: 44px;
        }

        &:focus {
            outline: 1px solid #E0EDCF;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 24px;
        height: 24px;
        background-color: $green;
        transition: background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: #4D800C;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
            border-radius: 3px;
        }

        &:active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        &--minus {
            &::before {
                content: '';
                display: block;
                max-width: 16px;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: #fff;
            }
        }

        &--plus {
            right: 12px;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                max-width: 16px;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: #fff;
            }

            &::before {
                transform: rotate(90deg);
            }

            &::after {
                transform: rotate(0deg);
            }
        }

        &--big {
            width: 44px;
            height: 44px;
    
            &::before,
            &::after {
                max-width: 29px;
            }
        }
    }

    &__price {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.0;
        color: #505050;
    }

    &__currency{
        font-size: 14px;
    }

    &__btn-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.0;
        padding: 10px 12px;
        background-color:$green;
        color: #fff;
        border-radius: 3px;
        transition: background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: #4d810c;
        }
    
        &:focus {
            outline: 4px solid #E0EDCF;
        }
    
        &:active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        } 

        @media (max-width: 576px) {
           width: 48px;
           height: 44px;
         }
    }

    &__btn-text{
        @media (max-width: 576px) {
           display: none;
        }
    }



    //  обнулил свойство по умолчанию у инпута

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}