.footer {
    padding: 30px 0 0 0;
    background-color: #31352b;

    @media(max-width:568px) {
        padding: 24px 0 0 0;
    }

    &__inner {
        padding-bottom: 64px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 110px;

        @media(max-width:992px) {
            justify-content: center;
            align-items: center;
        }

        @media(max-width:768px) {
            flex-direction: column-reverse;
            gap: 50px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
        max-width: 200px;
        width: 100%;

        @media(max-width:992px) {
            margin: 0 auto 30px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 75px;
        grid-row-gap: 18px;

        @media(max-width:992px) {
            flex-direction: column-reverse;
            position: relative;

            &::before,
            &:after {
                content: '';
                display: block;
                width: 100vw;
                height: 1px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &::before{
                border-top: 1px solid #fff;
                top: -24px;
            }

            &::after{
                border-bottom: 1px solid #fff;
                bottom: -24px;
            }
        }

        @media(max-width:568px) {
            grid-row-gap: 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__link {
        color: #fff;
        border-radius: 3px;
        transition: opacity 0.5s, outline 0.5s, color 0.5s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: 3px solid #eff6e7;
        }

        &:active {
            color: #E0EDCF;
        }

        @media(max-width:568px) {
            display: inline-block;
            width: 100%;
            padding: 18px 0;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 29px 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100vw;
            height: 1px;
            border-top: 1px solid #fff;
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media(max-width:568px) {
            padding: 24px 0;
        }
    }

    &__text {
        color: #fff;
    }

    &__aside {
        display: flex;
        gap: 24px;
    }

    &__btn {
        color: #fff;
        border-radius: 3px;
        transition: color 0.5s, outline 0.5s;

        &:hover {
            color: $green;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
            ;
        }

        &:active {
            color: #E0EDCF;
        }
    }
}

.subscribe-form {
    display: flex;
    max-width: 306px;
    width: 100%;

    &__title {
        display: block;
        color: #fff;
        margin-bottom: 18px;
    }

    &__input {
        max-width: 180px;
        width: 100%;
        border-radius: 6px 0 0 6px;
        padding: 12px;
        color: #4f4f4f;
        background-color: #fff;
        border: 1px solid #fff;
        position: relative;
        z-index: 1;
        transition: border-color 0.5s, outline 0.5s;

        &:focus {
            border-color: $green;
            outline: 3px solid #E0EDCF;
        }

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            color: #4f4f4f;
        }
    }

    &__btn {
        padding: 12px 16px;
        background-color: $green;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0 6px 6px 0;
        transition: background-color 0.5s, outline 0.5s, color 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: #4d800c;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            color: rgba(255, 255, 255, 0.5);
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

.address {
    &__list {
        margin-bottom: 18px;
    }

    &__link {
        color: #fff;
        font-style: normal;

        @media(max-width:568px) {
            display: inline-block;
            width: 100%;
            padding: 18px;
        }

        &--black{
            display: flex;
            align-items: center;
            gap: 16px;
            color: #31352B;
            padding-bottom: 14px;   
        }

        &--location{
            max-width: 230px;
            width: 100%;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
        }

        @media(max-width:568px) {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}

.social {
    display: flex;
    gap: 12px;

    @media(max-width:568px) {
        justify-content: center;
    }

    &--left{
        justify-content: unset;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #fff;
        border-radius: 3px;
        transition: opacity 0.5s, outline 0.5s, color 0.5s;

        &:hover {
            opacity: .50;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            color: #E0EDCF;
        }

        &--black{
            color: #31352B;
        }

    }
}