.menu {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        position: relative;
        z-index: 5;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 100%;
            background-color: #31352b;
            z-index: -5;
        }

        @media(max-width:992px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        width: 100%;
        gap: 24px;
    }

    &__item {
        &:nth-child(-n+2):not(.menu__item--left) {
            margin-right: 47px;

            @media(max-width:992px) {
                margin-right: 0;
            }
        }

        &--left {
            margin-right: auto;
        }
    }

    &__link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        transition: opacity 0.5s, outline 0.5s, color 0.5s;

        &--icon {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &:hover {
            opacity: .70;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            color: #E0EDCF;
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: $green;
            width: 100vw;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -5;
        }

        @media(max-width:992px) {
            justify-content: space-between;
        }

        @media(max-width:992px) {
            display: none;
        }
    }

    &__logo {
        margin-right: 19px;

        @media(max-width:1200px) {
            margin-right: 10px;
        }

        @media(max-width:992px) {
            display: none;
        }
    }
}

.user-menu {
    display: flex;
    gap: 27px;

    @media(max-width:1200px) {
        gap: 15px;
    }

    &__btn,
    &__button-favorites,
    &__button-basket {
        color: #fff;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        transition: background-color 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            background-color: #616161;
        }

        &:focus {
            outline: 3px solid #eff6e7;
        }

        &:active {
            opacity: .50;
        }
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3px;
        left: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        color: #cf3e3b;
        font-weight: 600;
        font-size: 10px;
        line-height: 100%;
    }
}

.main-menu {
    max-width: 240px;
    width: 100%;
    position: relative;
    z-index: 5;
    margin-right: 30px;

    @media(max-width:1200px) {
        margin-right: 10px;
    }

    &.active {
        .main-menu__button {
            background-color: #E0EDCF;
            border-radius: 6px 6px 0 0;
        }
    }

    &.active {
        .main-menu__icon--arrow {
            transform: rotate(-180deg);
        }
    }

    &.active {
        .main-menu__list {
            max-height: 800px;
            border: 1px solid #c1c1c1;
        }
    }

    &__button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: #fff;
        color: $green;
        padding: 15px 18px;
        border-radius: 6px 6px;
        transition: background-color 0.5s, border-radius 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            background-color: #E0EDCF;

            @media(max-width:992px) {
                background-color: transparent;
            }
        }

        &:focus {
            outline: 3px solid #E0EDCF;

            @media(max-width:992px) {
                outline: none;
                color: $green;
            }
        }

        &:active {
            opacity: .80;
        }

        &--black {
            color: #31352B;
            padding: 0;
        }
    }

    &__icon {
        @media(max-width:992px) {
            &--arrow {
                display: none;
            }
        }
    }

    &__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        margin-right: 12px;
    }

    &__icon {
        fill: currentColor;

        &--line {
            position: relative;
            top: 4px;
        }

        &--arrow {
            transition: transform 0.5s;
        }
    }

    &__list {
        position: absolute;
        max-width: 240px;
        width: 100%;
        background-color: #fff;
        order: transparent;
        border-radius: 0 0 6px 6px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, border 0.5s;
    }

    &__item {
        &:not(:last-child) {
            border: 1px solid #c1c1c1;
        }
    }

    &__link {
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 120%;
        width: 100%;
        padding: 15px 24px;
        text-align: left;
        color: #000;
        transition: color 0.5s, outline 0.5s;

        &::before {
            content: '';
            display: none;
            width: 3px;
            height: 49px;
            background-color: $green;
            position: absolute;
            top: 0;
            left: 0;
            transition: background-color 0.5s;
        }

        &:hover {
            color: $green;

            &::before {
                display: block;
            }
        }

        &:active {
            color: #C1C1C1;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }
    }
}

.form-search {
    display: flex;
    max-width: 576px;
    width: 100%;
    margin-right: 58px;

    @media(max-width:1200px) {
        margin-right: 10px;
    }

    &__label {
        position: relative;
        width: 100%;
    }

    &__input {
        padding: 15px 15px 15px 50px;
        width: 100%;
        border-radius: 6px 0 0 6px;
        outline: 3px solid transparent;
        transition: outline 0.5s;
        background-color: #fff;

        @media(max-width:992px) {
            border: 1px solid #31352B;
        }

        &::placeholder {
            color: #31352b;
            transition: opacity 0.5s, color 0.5s;
        }

        &:hover {

            &::placeholder {
                opacity: .50;
            }

            &+.form-search__icon {
                opacity: .50;
            }
        }

        &:focus {
            outline-color: #E0EDCF;
        }

        &::-webkit-search-cancel-button {
            appearance: none;
            -wibkit-appearance: none;
        }
    }

    &__icon {
        position: absolute;
        top: 15px;
        left: 12px;
        fill: #31352B;
        transition: opacity 0.5s, fill 0.5s;
    }

    &__btn {
        padding: 15px 52px;
        background-color: #31352b;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 0 6px 6px 0;
        transition: opacity 0.5s, outline 0.5s, color 0.5s;

        @media(max-width:1200px) {
            padding: 15px 30px;
        }

        &:hover {
            opacity: .85;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            color: rgba(255, 255, 255, .50);
        }
    }
}

.backdrop {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.15);
    transition: opacity 1s;

    @media(max-width:768px) {
        justify-content: center;
    }

    @media(max-width:320px), (max-width:1200px) and (orientation: landscape) {
        justify-content: center;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;

        .basket {
            transform: scale(0);
        }
    }

    .basket {
        display: flex;
        flex-direction: column;
        max-width: 472px;
        width: 100%;
        height: 100%;
        background-color: #f6f6f6;
        position: relative;
        transform: scale(1);
        transition: transform 0.5s;

        @media(max-width:768px) {
            top: -140px;
            height: unset;
        }

        @media(max-width:568px) {
            top: -34px;

        }

        @media(max-width:568px) {
            width: 90vw;
        }

        @media(max-width:320px), (max-width:1200px) and (orientation: landscape) {
            top: 208px;
        }

        &__top {
            border: 1px solid #ebebeb;
            background-color: #fff;
            padding: 19px 24px 12px 24px;
        }

        &__box {
            padding: 12px 11px 12px 11px;
        }

        &__title {
            font-size: 24px;
            line-height: 120%;
            color: #000;
            margin-bottom: 12px;
        }

        &__delete {
            font-weight: 300;
            line-height: 120%;
            color: #000;
            border-radius: 3px;
            transition: color 0.5s, outline 0.5s, opacity 0.5s;

            &:hover {
                color: $green;
            }

            &:focus {
                outline: 3px solid #E0EDCF;
            }

            &:active {
                opacity: .70;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        &__total {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            padding: 23px 24px;
        }

        &__total-text {
            font-size: 24px;
            line-height: 120%;
            color: #000;

            @media(max-width:568px) {
                font-size: 14px;
            }
        }

        &__total-price {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.0;
            color: #505050;

            @media(max-width:568px) {
                font-size: 14px;
            }
        }

        &__btn {
            display: block;
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            background-color: $green;
            color: #fff;
            padding: 22px;
            text-align: center;
            transition: outline 0.5s, ;
            transition: background-color 0.5s, outline 0.5s, box-shadow 0.5s;

            &:hover {
                background-color: #4d810c;
            }

            &:focus {
                outline: 5px solid #E0EDCF;
            }

            &:active {
                box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }

    &.backdrop::-webkit-scrollbar {
        width: 0;
    }
}

.menu-header {
    display: none;

    @media(max-width:992px) {
        display: block;
        position: relative;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: #31352b;
            width: 100vw;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -5;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: $green;
            width: 100vw;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -5;
        }
    }

    &__list {
        display: flex;
        gap: 35px;
    }

    &__link {
        display: inline-block;
        width: 100%;
        padding: 14px 6px;
        color: #fff;
        border-radius: 3px;
        transition: outline 0.5s, opacity 0.5s;

        &:focus {
            outline: 3px solid #EFF6E7;
        }

        &:active {
            opacity: .50;
        }
    }

    &__form {
        position: absolute;
        z-index: 5;
        top: 72px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: scale(0);
        transition: transform 0.5s;

        &.active {
            transform: scale(1);
        }
    }

    &__input {
        border: 1px solid #31352b;
        border-radius: 0;
    }

    &__form-btn {
        border-radius: 0;
        padding: 15px 25px;
    }
}

.backdrop-mobile {
    display: none;

    @media(max-width:992px) {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(0, 0, 0, 0.15);
        transform: scale(0);
        transition: transform 0.5s;

        &.active {
            transform: scale(1);
        }
    }

    .mobile-menu {
        max-width: 300px;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #fff;
        overflow-y: scroll;


        &__logo {
            padding: 26px 15px;
        }

        &__registration {
            display: flex;
            align-items: center;
            background-color: $green;
            width: 100%;
            margin-bottom: 15px;
        }

        &__registration-link {
            display: block;
            color: #fff;
            font-size: 18px;
            line-height: 1.0;
            padding: 15px 15px;

            &--icon {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        &__content {
            padding: 24px 15px;
        }

        &__main-menu {
            margin-right: 0;
            margin-bottom: 38px;
        }

        &__address {
            position: relative;
            margin-bottom: 48px;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                left: -16px;
                position: absolute;
            }

            &::before {
                border-top: 1px solid #c1c1c1;
                top: -24px;
            }

            &::after {
                border-bottom: 1px solid #c1c1c1;
                bottom: -19px;
            }
        }

        &__social {
            text-align: left;
        }

        &__link {
            display: inline-block;
            width: 100%;
            padding: 15px 0;
        }

        &__close-button {
            top: 37px;

            &::before,
            &::after {
                max-width: 18px;
                width: 100%;
            }
        }
    }
}