.news-card {
    border: 1px solid #fff;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-width: 410px;
    width: 100%;
    height: 100%;
    position: relative;

    @media(max-width:576px) {
        max-width: 345px;
    }

    @media(max-width:320px) {
        max-width: 250px;
    }

    &__time {
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        background-color: #fff;
        padding: 18px 0 15px;
        max-width: 65px;
        width: 100%;
        border-radius: 0 0 4px 4px;
    }

    &__number {
        display: block;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.0;
        text-transform: uppercase;
        padding: 0 15px;
    }

    &__link {
        display: block;
        padding: 18px;
        border-radius: 6px;
        transition: color 0.5s, opacity 0.5s;

        &:hover {
            color: $green;
        }

        &:focus {
            color: $green;
        }

        &:active {
            opacity: .80;
        }

        @media(max-width:576px) {
           padding: 15px;
        }
    }

    &__img{
        @media(max-width:576px) {
            max-width: 345px;
            height: 200px;
         }

         
    @media(max-width:320px) {
        max-width: 250px;
        height: 150px;
    }
    }
}