.products-card {
    display: flex;
    flex-direction: column;
    outline: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    height: 100%;
    transition: outline 0.5s;

    &:hover {
        outline-color: $green;

        .products-card__btn-hidden {
            transform: translateY(0);
        }

        .products-card__content-link {
            &::before {
                background-color: rgb(0 0 0 / 10%);
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 7px 12px;
    }

    &__box {
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        line-height: 1.0;
        color: #fff;
    }

    &__new {
        display: block;
        width: 66px;
        background-color: $green;
        margin-bottom: 6px;
        border-radius: 6px;
        padding: 3px 6px;

        &--none{
            display: none;
        }
    }

    &__discount {
        display: block;
        width: 37px;
        background-color: #CF3E3B;
        border-radius: 6px;
        padding: 3px 6px;

        &--none{
            display: none;
        }

        &--orange{
            background-color: #FF7A00;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        color: #C1C1C1;
        width: 44px;
        height: 44px;
        transition: color 0.5s, outline 0.5s, opacity 0.5s;

        &:hover {
            color: #FFB800;
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            opacity: .50;
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
         position: relative;
        overflow: hidden;
    }

    &__content-link {
        transition: opacity 0.5s;

        &::before {
            content: '';
            display: block;
            background-color: transparent;
            position: absolute;
            width: 300px;
            height: 215px;
            transition: background-color 0.8s;
        }

        &:active {
            opacity: .50;
        }
    }

    &__img {
        margin: 0 auto;
    }

    &__btn-hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #fff;
        color: $green;
        border-radius: 50%;
        position: absolute;
        top: 84px;
        left: 125px;
        transform: translateY(-200px);
        transition: transform 0.8s, background-color 0.5s, color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: $green;
            color: #fff;
        }

        &:focus {
            outline: 2px solid #E0EDCF;
        }

        &:active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 18px;
    }

    &__link {
        display: block;
        margin-bottom: 50px;
        border-radius: 3px;
        transition:  color 0.5s, outline 0.5s,;

        &:hover {
            color: $green;
        }

        &:focus {
            outline: 3px solid #eff6e7;
        }

        &:active {
            color: #E0EDCF;
        }
    }

    &__title {
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-align: left;
    }

    &__bottom-box {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__price-old {
        display: block;
        color: #C1C1C1;
        margin-bottom: 3px;
        position: relative;

        &--none{
            display: none;
        }

        &::before {
            content: '';
            display: block;
            border-top: 1px solid #C1C1C1;
            width: 45px;
            position: absolute;
            top: 9px;
            transform: rotate(-16deg);
        }
    }

    &__price-new {
        display: block;
        color: #505050;
    }


    &__basket-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: $green;
        color: #fff;
        border-radius: 3px;
        transition: background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: #4d800c
        }

        &:focus {
            outline: 3px solid #E0EDCF;
        }

        &:active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }

}