$accent: #e0edcf;
$default: #121212;
$green: #63a60f;
$bg: #fff;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.none {
    display: none !important;
}

.color-white {
    color: $bg;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .25);
}

.color-black {
    color: #505050;
}