<ul class="advantages">
    <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
            <use href="images/icon/sprite.svg#scooter"></use>
        </svg>
        <div class="advantages__box">
            <span class="advantages__title">Бесплатная доставка</span>
            <p class="advantages__text">
                Для заказов на сумму от 500
                <span class="currency">
                    &#8372;
                </span>
            </p>
        </div>
    </li>
    <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
            <use href="images/icon/sprite.svg#return-box"></use>
        </svg>
        <div class="advantages__box">
            <span class="advantages__title">Возврат товара</span>
            <p class="advantages__text">Если товары были испорчены</p>
        </div>
    </li>
    <li class="advantages__item">
        <svg class="advantages__icon" width="50" height="50">
            <use href="images/icon/sprite.svg#24h"></use>
        </svg>
        <div class="advantages__box">
            <span class="advantages__title">Поддержка 24/7</span>
            <p class="advantages__text">Лучшие операторы</p>
        </div>
    </li>
</ul>