<div class="basket-card">
    <picture>
        <source srcset="./images/basket-card/@@imagFileName-1x.jpg 1x, ./images/basket-card/@@imagFileName-2x.jpg 2x"
            media="(min-width: 320px)">
        <img class="basket-card__img" src="./images/basket-card/@@imagFileName-1x.jpg" alt="@@imgAlt" width="60"
            height="60">
    </picture>
    <div class="basket-card__content">
        <h3 class="basket-card__title">@@title</h3>
        <span class="basket-card__price">
            @@price
            <span class="currency">
                &#8372;
            </span>
        </span>
    </div>
    <form class="counter-form basket-card__counter-form">
        <div class="counter-form__box">
            <button class="counter-form__btn counter-form__btn--minus" type="button">
                <span class="sr-only">уменьшить количество единиц товара</span>
            </button>
            <label class="counter-form__label" for="@@for">
                <span class="sr-only">введите количество товара</span>
                <input class="counter-form__input" name="@@name" id="@@id" type="number" value="1" required>
            </label>
            <button class="counter-form__btn counter-form__btn--plus" type="button">
                <span class="sr-only">добавить количество единиц товара</span>
            </button>
        </div>
        <span class="counter-form__price">
            @@price2
            <span class="currency counter-form__currency">
                &#8372;
            </span>
        </span>
        <button class="counter-form__btn-cart none" type="button">
            <svg class="icon counter-form__icon" width="16" height="16">
                <use href="images/icon/sprite.svg#cart"></use>
            </svg>
            <span class="counter-form__btn-text">добавить в корзину</span>
        </button>
    </form>
    <button class="basket-card__close-btn" type="button">
        <span class="sr-only">удалить этот товар</span>
    </button>
</div>