<article class="comments">
    <h3 class="sr-only">комментарии человека</h3>
    <div class="comments__inner">
        <picture>
            <source srcset="./images/comments/@@img-1x.jpg 1x, ./images/comments/@@img-2x.jpg 2x"
                media="(min-width: 320px)">
                <img class="comments__img" src="./images/comments/@@img-1x.jpg" alt="аватарка" width="70" height="70">
        </picture>
        <blockquote class="comments__quote comments__quote--left">
            <cite class="comments__author">@@name</cite>
            <time class="comments__data" datetime="@@datetime">@@data</time>
        </blockquote>
        <div class="product-star">
            <button class="product-star__btn" type="button">
                <svg class="icon product-star__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#star"></use>
                </svg>
            </button>
            <button class="product-star__btn" type="button">
                <svg class="icon product-star__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#star"></use>
                </svg>
            </button>
            <button class="product-star__btn" type="button">
                <svg class="icon product-star__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#star"></use>
                </svg>
            </button>
            <button class="product-star__btn" type="button">
                <svg class="icon product-star__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#star"></use>
                </svg>
            </button>
            <button class="product-star__btn @@grey" type="button">
                <svg class="icon product-star__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#star"></use>
                </svg>
            </button>
        </div>
    </div>
    <p class="comments__text">
        @@text
    </p>
</article>