<div class="dropdown dropdown--name">
    <button class="dropdown__select selectBtnName" type="button">
       <span class="dropdown__name">
          По названию
       </span>
       <svg class="dropdown__icon" width="8" height="4">
          <use href="images/icon/sprite.svg#arrow"></use>
      </svg>
    </button>
    <ul class="dropdown__list">
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">Бакалея</button>
       </li>
    </ul>
 </div>
 <div class="dropdown dropdown--numbers">
    <button class="dropdown__select selectBtnNumbers" type="button">
       <span class="dropdown__name">
          по 12
       </span>
       <svg class="dropdown__icon" width="8" height="4">
          <use href="images/icon/sprite.svg#arrow"></use>
      </svg>
    </button>
    <ul class="dropdown__list">
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">11</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">10</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">9</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">8</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">7</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">6</button>
       </li>
       <li class="dropdown__item">
          <button class="dropdown__btn" type="button">5</button>
       </li>
    </ul>
 </div>