<footer class="footer">
    <div class="container">
        <h2 class="sr-only">Дополнительная информация</h2>
        <a class="logo footer__logo" href="index.html">
            <img class="logo__img" src="./images/logo/logo-white.svg" alt="логотип FreShok" width="200" height="60">
        </a>
        <div class="footer__inner">
            <div class="footer__content">
                <div class="footer__box">
                    <span class="subscribe-form__title">Следите за нашими акциями</span>
                    <form class="subscribe-form">
                        <label class="subscribe-form__label" for="subscribeEmai">
                            <input class="subscribe-form__input" placeholder="email@email.com" type="text"
                                name="subscribeEmail" id="subscribeEmai">
                        </label>
                        <button class="subscribe-form__btn" type="submit">подписаться</button>
                    </form>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Отзывы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Контакты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Вакансии
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Новости
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Публичная оферта
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Акции
                        </a>
                    </li>
                </ul>
                <address class="address">
                    <ul class="address__list">
                        <li class="address__item">
                            <a class="address__link" href="tel:+380501112233">
                                Горячая линия:+38 050 111 22 33
                            </a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" href="mailto:Запорожье,ул.Т.Г.Шевченко,1">
                                Запорожье, ул. Т.Г. Шевченко, 1
                            </a>
                        </li>
                    </ul>
                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="icon social__icon" width="32" height="32">
                                    <use href="images/icon/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="icon social__icon" width="32" height="32">
                                    <use href="images/icon/sprite.svg#youtubi"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="icon social__icon" width="32" height="32">
                                    <use href="images/icon/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#">
                                <svg class="icon social__icon" width="32" height="32">
                                    <use href="images/icon/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="footer__bottom">
            <span class="footer__text">© 2022 фрешок</span>
            <div class="footer__aside">
                <button class="footer__btn" type="button">
                    <svg class="icon footer__icon" width="93" height="29">
                        <use href="images/icon/sprite.svg#visa"></use>
                    </svg>
                </button>
                <button class="footer__btn" type="button">
                    <svg class="icon footer__icon" width="49" height="29">
                        <use href="images/icon/sprite.svg#mastercard"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</footer>