<header class="header">
    <div class="container">           
            <nav class="menu">
                <ul class="header__info-list">
                    <li class="header__info-item">
                        <a class="header__info-link" href="#">
                            <svg class="header__info-icon" width="32" height="22">
                                <use href="images/icon/sprite.svg#truck"></use>
                            </svg>
                            АДРЕС И ВРЕМЯ ДОСТАВКИ
                        </a>
                    </li>
                    <li class="header__info-item">
                        <a class="header__info-link" href="#">
                            <svg class="header__info-icon" width="23" height="22">
                                <use href="images/icon/sprite.svg#tel"></use>
                            </svg>
                            ГОРЯЧАЯ ЛИНИЯ 24/7
                        </a>
                    </li>
                </ul>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">ДОСТАВКА</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">О НАС</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">НОВОСТИ</a>
                    </li>
                </ul>
            </nav>
        <div class="header__bottom">
            <a class="logo header__logo" href="index.html">
                <svg class="logo__icon" width="55" height="60">
                    <use href="images/icon/sprite.svg#logo-icon"></use>
                </svg>
                <img class="logo__img" src="./images/logo/logo.svg" alt="логотип FreShok" width="128" height="48">
            </a>
            <div class="dropdown">
                <button class="dropdown__select selectBtn" type="button">
                    <svg class="dropdown__icon dropdown__icon--line" width="26" height="17">
                        <use href="images/icon/sprite.svg#line"></use>
                    </svg>
                    <span class="dropdown__selected">Каталог продуктов</span>
                    <svg class="dropdown__icon dropdown__icon--arrow" width="8" height="4">
                        <use href="images/icon/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <ul class="dropdown__list">
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Овощи и фрукты</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Бакалея</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Молочные продукты</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Хлеб</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Мясо</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Колбаса</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Рыба</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Алкоголь</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Напитки</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Торты</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Мясо</button>
                    </li>
                    <li class="dropdown__item">
                        <button class="dropdown__btn" type="button">Чай, кофе</button>
                    </li>
                </ul>
            </div>
            <form class="form-search">
                <span class="sr-only">product search</span>
                <label class="form-search__label" for="search">
                    <input class="form-search__input" id="search" name="search" type="text"
                        placeholder="Найти в магазине ...">
                    <svg class="form-search__icon" width="24" height="24">
                        <use href="images/icon/sprite.svg#search"></use>
                    </svg>
                </label>
                <button class="form-search__btn" type="submit">ПОИСК</button>
            </form>
            <ul class="header__users-list">
                <li class="header__users-item">
                    <button class="header__users-btn" type="button">
                        <svg class="header__users-icon" width="25" height="32">
                            <use href="images/icon/sprite.svg#user"></use>
                        </svg>
                        <span class="sr-only">user</span>
                    </button>
                </li>
                <li class="header__users-item">
                    <button class="header__users-btn" type="button">
                        <span class="header__users-num">12</span>
                        <svg class="header__users-icon" width="32" height="29">
                            <use href="images/icon/sprite.svg#like"></use>
                        </svg>
                        <span class="sr-only">like</span>
                    </button>
                </li>
                <li class="header__users-item">
                    <button class="header__users-btn" type="button" data-modal-open>
                        <span class="header__users-num">12</span>
                        <svg class="header__users-icon" width="32" height="32">
                            <use href="images/icon/sprite.svg#cart"></use>
                        </svg>
                        <span class="sr-only">card</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <div class="modal__top">
                    <h1 class="modal__title">Корзина</h1>
                    <span class="modal__text">очистить корзину</span>
                    <button class="close-button" type="button" data-modal-close>
                        <span class="sr-only">close button</span>
                    </button>
                </div>
                <div class="modal__box">
                    <ul class="modal__list">
                        <li class="modal__item">
                            @@include('../global/card.html', {
                            "imageName1" : "1-1x",
                            "imageName2" : "1-2x",
                            "imageMob" : "1-1x-mob",
                            "title" : "Ананас, 1 кг",
                            "price" : "99₴ ",
                            "price2" : "198₴ "
                            })
                        </li>
                        <li class="modal__item">
                            @@include('../global/card.html', {
                            "imageName1" : "3-1x-card",
                            "imageName2" : "3-2x-card",
                            "imageMob" : "3-1x-card",
                            "title" : "Питахайя красная с белой мякотью, 1шт",
                            "price" : "101₴ ",
                            "price2" : "202₴"
                            })
                        </li>
                    </ul>
                </div>
                <div class="modal__bottom">
                    <span class="modal__bottom-text">Товаров на сумму</span>
                    <span class="modal__price">400₴</span>
                </div>
                <button class="modal__btn" type="button">Оформить заказ</button>
            </div>
        </div>
    </div>
</header>