<div class="pagination">
    <a class="pagination__link-arrow pagination__link-arrow--prev  disabled" href="#">
      <span class="sr-only">предыдущий слайд</span>
        <svg class="icon pagination__icon" width="11" height="18">
         <use href="images/icon/sprite.svg#pagination-arrow"></use>
     </svg>
     </a>
    <ul class="pagination__list">
       <li class="pagination__item">
          <span class="pagination__link current" href="#">
             1
          </span>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             2
          </a>
       </li>
       <li class="pagination__item">
          <sapn class="pagination__link" href="#">
             ...
          </sapn>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             9
          </a>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             10
          </a>
       </li>
    </ul>
    <a class="pagination__link-arrow pagination__link-arrow--next" href="#">
      <span class="sr-only">следующий слайд</span>
        <svg class="icon pagination__icon" width="11" height="18">
            <use href="images/icon/sprite.svg#pagination-arrow"></use>
        </svg>
    </a>
</div>