<div class="pagination">
    <a class="pagination__arrow pagination__arrow--prev disabled" href="#">
        <svg class="icon pagination__icon" width="11" height="18">
         <use href="images/icon/sprite.svg#pagination-arrow"></use>
     </svg>
     </a>
    <ul class="pagination__list">
       <li class="pagination__item">
          <a class="pagination__link active" href="#">
             1
          </a>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             2
          </a>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             ...
          </a>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             9
          </a>
       </li>
       <li class="pagination__item">
          <a class="pagination__link" href="#">
             10
          </a>
       </li>
    </ul>
    <a class="pagination__arrow pagination__arrow--next " href="#">
        <svg class="icon pagination__icon" width="11" height="18">
            <use href="images/icon/sprite.svg#pagination-arrow"></use>
        </svg>
    </a>
 </div>