<li class="stock-list__item mix @@category" data-my-order="@@order">
    <a class="stock__card-link" href="product-page.html">
        <article class="product-card-stock">
            <div class="product-card-stock__top">
                <div class="badges badges--stock">
                    <span class="badges__item badges__item--stock badges__item--new @@new">
                        Новинка
                    </span>
                    <span class="badges__item badges__item--stock badges__item--discount @@discount50">
                        -50%
                    </span>
                    <span class="badges__item badges__item--stock badges__item--discount @@discount30">
                        -30%
                    </span>
                    <span class="badges__item badges__item--stock badges__item--hit @@hit">
                        хит
                    </span>
                </div>
                <picture>
                    <source srcset="./images/stock/@@imagFileName-1x.jpg 1x, ./images/stock/@@imagFileName-2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="product-card-stock__img" src="./images/stock/@@imagFileName-1x.jpg" alt="@@productName"
                        width="100" height="100">
                </picture>
            </div>
            <div class="product-card-stock__content">
                <h3 class="product-card-stock__title">@@productName</h3>
                <div class="product-card-stock__bottom">
                    <div class="clue clue--stoct">
                        <span class="clue__item clue__item--in-stock @@stock">в наличии</span>
                        <span class="clue__item clue__item--ends @@ends">заканчивается</span>
                        <span class="clue__item clue__item--not-available @@not-available">нет в наличии</span>
                    </div>
                    <div class="product-card-stock__box">
                        <div class="product-price product-price--stock">
                            <span class="product-price__item product-price--old @@oldPrice">
                                @@oldPriceVaule
                                <span class="currency">
                                    &#8372;
                                </span>
                            </span>
                            <span class="product-price__item product-price--font">
                                @@currentPriceVaule
                                <span class="currency">
                                    &#8372;
                                </span>
                            </span>
                        </div>
                        <span class="star">
                            @@star
                            <svg class="star__icon" width="16" height="16">
                                <use href="images/icon/sprite.svg#star"></use>
                            </svg>
                        </span>
                    </div>
                </div>
        </article>
    </a>
</li>