<article class="products-card">
    <div class="products-card__top">
        <span class="products-card__box">
            <span class="products-card__new @@newNone">
              @@new
            </span>
            <span class="products-card__discount @@discountNone @@color">
                @@discount
            </span>
        </span>
        <button class="products-card__btn" type="button">
            <span class="sr-only">добавить в список понравившиеся товары</span>
            <svg class="icon products-card__icon" width="32" height="29">
                <use href="images/icon/sprite.svg#like"></use>
            </svg>
        </button>
    </div>
    <div class="products-card__content">
        <a class="products-card__content-link" href="product-page.html">
            <picture>
                <source srcset="./images/card/@@imageCardName1.jpg 1x, ./images/card/@@imageCardName2.jpg 2x" 
                    media="(min-width: 1200px)">
                <source srcset="./images/card/@@imageCardNameMob1.jpg 1x, ./images/card/@@imageCardNameMob2.jpg 2x" 
                    media="(min-width: 320px)">
                <img class="products-card__img" src="./images/card/@@imageCardMob.jpg" alt="@@imgAlt" width="298"
                    height="215">
            </picture>
        </a>
        <button class="products-card__btn-hidden" type="button">
            <span class="sr-only">поиск нужного вам товара </span>
            <svg class="icon products-card__hidden-icon" width="20" height="20">
                <use href="images/icon/sprite.svg#search"></use>
            </svg>
        </button>
    </div>
    <div class="products-card__bottom">
        <a class="products-card__link" href="product-page.html">
            <h3 class="products-card__title">@@title</h3>
        </a>
        <div class="products-card__bottom-box">
            <span class="products-card__price">
                <span class="products-card__price-old @@priceOldNone">
                    @@priceOld
                    <span class="currency">
                        &#8372;
                    </span>
                </span>
                <span class=" products-card__price-new">
                    @@priceNew
                    <span class="currency">
                        &#8372;
                    </span>
                </span>
            </span>
            <button class="products-card__basket-btn" type="button">
                <span class="sr-only">добавить товар в корзину </span>
                <svg class="icon products-card__icon" width="16" height="16">
                    <use href="images/icon/sprite.svg#cart"></use>
                </svg>
            </button>
        </div>
    </div>
</article>