<div class="comment">
    <blockquote class="comment__quote">
        <div class="comment__inner">
            <cite class="comment__author">
                <img class="comment__img" src="./images/comments/@@img-1x.jpg" alt="аватарка" width="70" height="70">
                <span class="comment__box">
                    <span class="comment__name">@@name</span>
                    <time class="comment__date" datetime="@@datetime">@@date</time>
                </span>
            </cite>
            <div class="product-star">
                <button class="product-star__btn" type="button">
                    <span class="sr-only">оценить товар в 1 звезду из 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">оценить товар в 2 звезды из 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">оценить товар в 3 звезды из 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">оценить товар в 4 звезды из 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn @@grey" type="button">
                    <span class="sr-only">оценить товар в 5 звезд из 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
            </div>
        </div>
        <p class="comment__text">
            @@text
        </p>
    </blockquote>
</div>