<div class="comment">
    <blockquote class="comment__quote comments__quote--left">
        <div class="comment__inner">
            <img class="comment__img" src="./images/comments/@@img-1x.jpg" alt="аватарка" width="70" height="70">
            <div class="comment__box comment__box--left">
                <cite class="comment__author">@@name</cite>
                <time class="comment__date" datetime="@@datetime">@@date</time>
            </div>
            <div class="product-star">
                <button class="product-star__btn" type="button">
                    <span class="sr-only">звезда 1</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">звезда 2</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">звезда 3</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn" type="button">
                    <span class="sr-only">звезда 4</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
                <button class="product-star__btn @@grey" type="button">
                    <span class="sr-only">звезда 5</span>
                    <svg class="icon product-star__icon" width="16" height="16">
                        <use href="images/icon/sprite.svg#star"></use>
                    </svg>
                </button>
            </div>
        </div>
        <p class="comment__text">
            @@text
        </p>
    </blockquote>
</div>