.offers {
    padding: 84px 0 45px;

    &__container {
        padding: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__title {
        text-align: left;
    }

    &__buttons {
        display: flex;
        gap: 30px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid #c1c1c1;
        color: #505050;
        border-radius: 6px;
        transition: color 0.5s, background-color 0.5s, outline 0.5s;

        &:disabled {
            pointer-events: none;
            color: #c1c1c1;
        }

        &--next {

            .interest__icon {
                transform: rotate(180deg);
            }
        }

        &:hover {
            color: $green;
            background-color: #e0edcf;
        }

        &:focus {
            outline: 3px solid #97B86B;
        }

        &:active {
            color: $green;
            background-color: #f3f3f2;
        }

    }

    &__wrapper {
        overflow: hidden;
        position: relative;
    }
    .mySwiper4 {
        width: 100%;
      }
      
      .swiper-wrapper {
        display: flex;
      }
      
      .swiper-slide {
      
        width: auto !important;
        flex-shrink: 0;
      }

    &__swiper-wrapper {
        display: flex;
        gap: 30px;
        padding: 10px;
    }

    &__swiper-slide {
        max-width: 300px;
        width: 100%;
    }

    &__swiper-pagination {
        display: none;

        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 92px;
            z-index: 5;
            gap: 12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .swiper-wrapper{
        height: 100%;
    }

    .swiper-pagination-bullet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #C1C1C1;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 44px;
            flex-shrink: 0;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $green;
        border: transparent;
    }

    .swiper-autoheight .swiper-slide {
        height: 100%;
    }
}