<section class="advertising">
    <div class="container">
        <h2 class="sr-only">рекламные баннеры</h2>
        <ul class="advertising__list">
            <li class="advertising__item advertising__item--bg1">
                <div class="advertising__content @@colorWhite">
                    <p class="advertising__text">
                        свежайшие фрукты
                    </p>
                    <h3 class="advertising__title">
                        начни фруктовое лето
                        <span class="advertising__subtitle">
                            всего От 19
                            <span class="currency">
                                &#8372;
                            </span>
                        </span>
                    </h3>
                    <a class="advertising__link advertising__link--line" href="#">
                        прийти к покупкам
                    </a>
                </div>
            </li>
            <li class="advertising__item advertising__item--bg2">
                <div class="advertising__content @@colorBlack">
                    <p class="advertising__text">
                        сезонная распродажа
                    </p>
                    <h3 class="advertising__title advertising__title--small ">
                        овощепад
                        <span class="advertising__subtitle">
                            до -50%
                        </span>
                    </h3>
                    <a class="advertising__link" href="#">
                        прийти к покупкам
                    </a>
                </div>
            </li>
            <li class="advertising__item advertising__item--bg3">
                <div class="advertising__content @@colorBlack">
                    <p class="advertising__text">
                        ням-ням
                    </p>
                    <h3 class="advertising__title">
                        свежий
                        хлебчик
                    </h3>
                    <a class="advertising__link" href="#">
                        прийти к покупкам
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>