<section class="hero">
    <div class="container hero__container">
        <div class="hero__swiper-wrapper swiper">
            <button class="hero__swiper-btn hero__swiper-btn--prev">
                <span class="sr-only">следующий слайд</span>
                <svg class="hero__swiper-icon" width="19" height="32">
                    <use href="images/icon/sprite.svg#arrow-big"></use>
                </svg>
            </button>
            <div class="hero__swiper-box swiper-wrapper">
                <div class="hero__swiper-slide hero__swiper-slide--slide1 swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            свежачок вам в хату
                            <span class="hero__subtitle">
                                скидка -50%
                            </span>
                        </h2>
                        <p class="hero__text">
                            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                        </p>
                        <button class="button">Купить сейчас</button>
                    </div>
                </div>
                <div class="hero__swiper-slide hero__swiper-slide--slide2 swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            накрути себе томатов
                            <span class="hero__subtitle">
                                акция: 3 кг по цене 1
                            </span>
                        </h2>
                        <p class="hero__text">
                            Только с 12 по 15 июля скидка на домашние помидорчики
                        </p>
                        <button class="button">Купить сейчас</button>
                    </div>
                </div>
                <div class="hero__swiper-slide hero__swiper-slide--slide3 swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            Пусть остальные
                            позеленеют от зависти
                            <span class="hero__subtitle">
                                Распродажа зелени
                            </span>
                        </h2>
                        <button class="button">Купить сейчас</button>
                    </div>
                </div>
            </div>
            <button class="hero__swiper-btn hero__swiper-btn--next disabled">
                <span class="sr-only">предыдущий слайд</span>
                <svg class="hero__swiper-icon" width="19" height="32">
                    <use href="images/icon/sprite.svg#arrow-big"></use>
                </svg>
            </button>
        </div>
        <div class="hero__advantages">
            <ul class="hero__list">
                <li class="hero__item">
                    <svg class="hero__advantages-icon" width="50" height="50">
                        <use href="images/icon/sprite.svg#scooter"></use>
                    </svg>
                    <div class="hero__advantages-box">
                        <h3 class="hero__advantages-title">Бесплатная доставка</h3>
                        <span class="hero__advantages-text">Для заказов на сумму от 500 ₴</span>
                    </div>
                </li>
                <li class="hero__item">
                    <svg class="hero__advantages-icon" width="50" height="50">
                        <use href="images/icon/sprite.svg#return-box"></use>
                    </svg>
                    <div class="hero__advantages-box">
                        <h3 class="hero__advantages-title">Возврат товара</h3>
                        <span class="hero__advantages-text">Если товары были испорчены</span>
                    </div>
                </li>
                <li class="hero__item">
                    <svg class="hero__advantages-icon" width="50" height="50">
                        <use href="images/icon/sprite.svg#24h"></use>
                    </svg>
                    <div class="hero__advantages-box">
                        <h3 class="hero__advantages-title">Поддержка 24/7</h3>
                        <span class="hero__advantages-text">Лучшие операторы</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>