<section class="partners">
    <div class="container">
        <h2 class="sr-only">Партнеры</h2>
        <div class="partners__list swiper2 mySwiper2">
            <div class="swiper-wrapper">
                <div class="partners__item  swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">спрайт</span>
                        <svg class="partner__icon" width="80" height="32">
                            <use href="images/icon/sprite.svg#sprite"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">доктор-перец</span>
                        <svg class="partner__icon" width="80" height="57">
                            <use href="images/icon/sprite.svg#dr-pepper"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">доктор-перец</span>
                        <svg class="partner__icon" width="80" height="26">
                            <use href="images/icon/sprite.svg#cocacola"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">пепси</span>
                        <svg class="partner__icon" width="80" height="31">
                            <use href="images/icon/sprite.svg#pepsi"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">Редбулл</span>
                        <svg class="partner__icon" width="80" height="49">
                            <use href="images/icon/sprite.svg#redbull"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">фанта</span>
                        <svg class="partner__icon" width="80" height="59">
                            <use href="images/icon/sprite.svg#fanta"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item  swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">спрайт</span>
                        <svg class="partner__icon" width="80" height="32">
                            <use href="images/icon/sprite.svg#sprite"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">доктор-пеппер</span>
                        <svg class="partner__icon" width="80" height="57">
                            <use href="images/icon/sprite.svg#dr-pepper"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">доктор-пеппер</span>
                        <svg class="partner__icon" width="80" height="26">
                            <use href="images/icon/sprite.svg#cocacola"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">пепси</span>
                        <svg class="partner__icon" width="80" height="31">
                            <use href="images/icon/sprite.svg#pepsi"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">Редбулл</span>
                        <svg class="partner__icon" width="80" height="49">
                            <use href="images/icon/sprite.svg#redbull"></use>
                        </svg>
                    </a>
                </div>
                <div class="partners__item swiper-slide">
                    <a class="partners__link" href="#">
                        <span class="sr-only">фанта</span>
                        <svg class="partner__icon" width="80" height="59">
                            <use href="images/icon/sprite.svg#fanta"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
